1ASIWOTANA9_PRD_20180111_003132/OTA/2011B/chameleon/OTA_Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="4.001" id="OTA2003A2011B">
  <xs:include schemaLocation="OTA_AirPreferences.xsd" />
  <xs:include schemaLocation="OTA_HotelPreferences.xsd" />
  <xs:include schemaLocation="OTA_VehicleCommonTypes.xsd" />
  <xs:include schemaLocation="OTA_RailPreferences.xsd" />
  <xs:annotation>
    <xs:documentation xml:lang="en">All Schema files in the OpenTravel Alliance specification are made available according to the terms defined by the OpenTravel License Agreement at http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AccessesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Element to capture creation and last update data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Access" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Describes the action taken on the record.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccessPerson" type="PersonNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Name of individual who originated or updated record.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccessComment" type="FreeTextType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Free text comment added by the person accessing the profile record.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ActionType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Type of action taken on the profile.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="Create" />
                <xs:enumeration value="Read" />
                <xs:enumeration value="Update" />
                <xs:enumeration value="Delete" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ActionDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">Month, day, year and optionally in hour, minute, second of day in ISO 8601 format of the action taken on the profile.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="ID_Group">
            <xs:annotation>
              <xs:documentation xml:lang="en">The identifier of the system that performed the action on the profile record.</xs:documentation>
            </xs:annotation>
          </xs:attributeGroup>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of access data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="CreateDateTime" type="xs:dateTime">
      <xs:annotation>
        <xs:documentation xml:lang="en">Month, day, year and optionally hour, minute, second of day the profile originated, in ISO 8601 format.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AffiliationsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines an entity that provides travel services or benefits to a customer or company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Organization" type="OrganizationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detailed information for a membership organization that has travel benefits, programs or discounts.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Employer" type="EmployerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Employer information associated to this affiliation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelArranger" type="TravelArrangerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the organization responsible for arranging travel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelClub" type="TravelClubType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A club that offers special privileges and related services for this affiliation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Insurance" type="InsuranceType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Travel insurance associated to this affiliation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="TPA_Extensions" minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of affiliation data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="AgreementsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Section of a business profile that contains information about trading partner agreements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Certification" type="CertificationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about certifications or accreditations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AllianceConsortium" type="AllianceConsortiumType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about alliance partnerships and consortiums.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommissionInfo" type="CommissionInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about an agreement for a commission arrangement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProfileSecurity" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Grants access rights on a single booking to offices other than the creator and responsible offices.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="AccessingOrganizationType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Organization for which access information is being provided.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="ProfileOwner">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates a profile owner.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IATA">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates a travel agency.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Other">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates an entity other than a profile owner or travel agency.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="AccessingOrganizationID" type="StringLength1to16" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">The identifier of the organization for which access information is being provided.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AccessType" use="optional">
            <xs:annotation>
              <xs:documentation>Specifies the type of access that the organization has.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="ReadOnly">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates read only access.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ReadWrite">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates both read and write access.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NoAccess">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Indicates no access.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates under what conditions the element will be transfered to the booking.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="ContractInformation" type="ParagraphType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Used to reflect contract details linked to a profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="TPA_Extensions" minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of agreements data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="AllianceConsortiumType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Provides information about alliance partnerships and consortiums of members grouped together to obtain trading partner agreements for travel service and privileges.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AllianceMember" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a company that participates in an alliance or consortium to which the primary business entity identified in this profile belongs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="CompanyNameType">
              <xs:attribute name="MemberCode" type="StringLength1to8">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Identifies the alliance or consortium member by code.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="ID_OptionalGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Identification of the alliance or partnership in which the business entity is a member.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Provides the effective and expiry dates for the alliance partnership.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="CertificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about certifications or accreditation held by the company.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="FreeTextType">
        <xs:attributeGroup ref="ID_OptionalGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Certification Identification number assigned to a business entity by the certifying body. This number would presumably be the ID in the Unique ID.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="SingleVendorIndGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates the alliance status of the company.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Provides the effective and expiry date of the certification.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommissionInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Contains information about agreements for commission arrangements with the business entity.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="FreeTextType">
        <xs:attributeGroup ref="PrivacyGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="CommissionPlanCode" type="StringLength1to32">
          <xs:annotation>
            <xs:documentation xml:lang="en">Identifies a commission plan agreement between trading partners by plan code.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="CurrencyAmountGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Identifies a rate for paying commissions; can be a decimal value based on percentage paid for the commission plan, or a flat rate.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CompanyInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Detailed information about a company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detailed name information for the company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detailed information on an address for the company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="AddressInfoType">
              <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Indicates under what conditions the element will be transfered to the booking.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="TelephoneInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on a telephone number for the company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="TelephoneInfoGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Provides details of a telephone number.</xs:documentation>
            </xs:annotation>
          </xs:attributeGroup>
          <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates under what conditions the element will be transfered to the booking.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Email" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on an email address for the company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="EmailType">
              <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Indicates under what conditions the element will be transfered to the booking.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="URL" type="URL_Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on a URL for the company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BusinessLocale" type="AddressType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">A jurisdiction in which a company is authorized to do business. Uses the Address entity to indicate the location of business using any of the components of the address (e.g., city, state, zip code, country).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentForm" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Method of providing funds for travel by the company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="PaymentFormType">
              <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Indicates under what conditions the element will be transfered to the booking.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ContactPerson" type="ContactPersonType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on a contact person for the company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelArranger" type="TravelArrangerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the organization responsible for arranging travel for the company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoyaltyProgram" type="LoyaltyProgramType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company's loyalty program information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TripPurpose" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Trip purpose codes used by this company.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="Code" type="StringLength1to8" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A trip purpose code used by this company.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Description" type="StringLength1to128" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A description of the trip purpose.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="CurrencyCodeGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">The currency used by this company.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="EmployerType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Company or organization that employs the customer.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CompanyName" type="CompanyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelatedEmployer" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a company affiliated with the employer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmployeeInfo" type="EmployeeInfoType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about the employee.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InternalRefNmbr" type="FreeTextType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Accounting code(s) assigned to travel for employer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelArranger" type="TravelArrangerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the organization responsible for arranging travel for the employer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoyaltyProgram" type="LoyaltyProgramType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Employer's loyalty program information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="DefaultIndGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="OfficeTypeGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Designates the office category within an organization.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Used to send the effective date and/or expiration date.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="InsuranceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Travel insurance carried by the customer or company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InsuredName" type="PersonNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the person insured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InsuranceCompany" type="CompanyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the insurance company.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Underwriter" type="CompanyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Underwriting company providing coverage.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of insurance data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="InsuranceType" type="StringLength1to32" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Type of insurance policy carried by the individual or company.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PolicyNumber" type="StringLength1to32" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Identifier assigned by insurance company to the insurance policy.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">The effective and expiry dates for this policy.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="RPH" type="RPH_Type" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">A unique reference for this insurance policy within this message.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LoyaltyProgramType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies a membership or loyalty program offered by the company by name of the program.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to32">
        <xs:attribute name="ProgramCode" type="StringLength1to16" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">Identification of the loyalty program by code.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="SingleVendorIndGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates the alliance status of the loyalty program.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="LoyaltyLevel" type="StringLength1to16" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates special privileges in program assigned to individual.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RPH" type="RPH_Type" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">A unique reference for a loyalty program within this message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PrimaryLoyaltyIndicator" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">When true, indicates this is the primary loyalty program and when false, indicates this is not the primary loyalty program.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Membership organization that has travel benefits, programs, or discounts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrgMemberName" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the member of the organization, as listed among the options of customer names.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="PersonNameType">
              <xs:attributeGroup ref="ID_LevelTitleGroup">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Provides member information.</xs:documentation>
                </xs:annotation>
              </xs:attributeGroup>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrgName" type="CompanyNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelatedOrgName" type="CompanyNameType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">An organization that is related to this organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelArranger" type="TravelArrangerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on the company responsible for arranging travel for the organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="DefaultIndGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates whether the organization is the default choice among several.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of organization data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">The effective and expiry dates for this organization membership.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="OfficeTypeGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Designates the office category within an organization.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="PreferencesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Needs of the traveler related to travel experiences.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrefCollection" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aggregation of customer travel needs.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CommonPref" type="CommonPrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">Supplier-independent preferences.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="VehicleRentalPref" type="VehicleProfileRentalPrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A set of preferences for vehicle rental.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AirlinePref" type="AirlinePrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A set of preferences for air travel.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="HotelPref" type="HotelPrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A set of preferences for hotel stay.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RailPref" type="RailPrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A set of preferences for rail travel</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtherSrvcPref" type="OtherSrvcPrefType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A set of preferences for other services.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="TPA_Extensions" minOccurs="0" />
          </xs:sequence>
          <xs:attributeGroup ref="PrivacyGroup">
            <xs:annotation>
              <xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
            </xs:annotation>
          </xs:attributeGroup>
          <xs:attribute name="TravelPurpose" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Refer to OpenTravel Code List Travel Purpose (TVP).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of data between parties.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="ProfileType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Root element for profile content.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Accesses" type="AccessesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of actions taken on a record.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customer" type="CustomerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detailed customer information for this profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserID" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation xml:lang="en">The user ids and pin numbers of the profile.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="UniqueID_Type">
              <xs:attribute name="PinNumber" type="StringLength1to16" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The personal identification number (password) for this user ID.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrefCollections" type="PreferencesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of preference collections.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompanyInfo" type="CompanyInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company information related to the profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Affiliations" type="AffiliationsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Affiliation information related to the profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Agreements" type="AgreementsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agreement information related to the profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Comments related to the profile.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Comment" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Comment details.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ParagraphType">
                    <xs:sequence>
                      <xs:element name="AuthorizedViewer" minOccurs="0" maxOccurs="3">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Specifies those authorized to view a comment.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:attribute name="ViewerCode" type="StringLength1to16" use="optional">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Identifies an authorized viewer of a confidential remark. Can be a 3 character ATA/IATA airport/city code, an office ID, pseudo city code, etc.</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="CommentOriginatorCode" type="StringLength1to16" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Unique identifier for the system which created the comment.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="GuestViewable" type="xs:boolean" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">When true, the comment may be shown to the consumer. When false, the comment may not be shown to the consumer.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="Category" type="StringLength1to8" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">An industry segment (e.g., Air, Hotel, Car) to which the comment refers.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="AirlineVendorPrefRPH" type="RPH_Type" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Reference to an airline in AirlinePrefType/VendorPref.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="TransferAction" type="TransferActionType" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Indicates under what conditions this element will be transfered to the booking.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="ActionDate" type="xs:date" use="optional">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Indicates at which date an action described in the comment must be taken.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="TPA_Extensions" minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ShareAllGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Used to indicate whether information can be shared.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="ProfileTypeGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Used to specify a profile type.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="DateTimeStampGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Creation date time, creator ID, last modification date time and last modifier ID.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attribute name="RPH" type="RPH_Type" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this guest in this reservation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StatusCode" type="ListOfOTA_CodeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Status of the profile. Refer to OpenTravel Code List Profile Status Code (PST).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ProfilesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of Profile objects or Unique IDs of Profiles.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProfileInfo" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A collection of Profiles or Unique IDs of Profiles.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0" maxOccurs="9">
              <xs:annotation>
                <xs:documentation>A unique ID for a profile. This element repeats to accommodate multiple unique IDs for a single profile across multiple systems.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Profile" type="ProfileType">
              <xs:annotation>
                <xs:documentation>Provides detailed information regarding  either a company or a customer profile.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelArrangerType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Companies or individuals responsible for making travel plans or transactions either for the customer or company.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CompanyNameType">
        <xs:attributeGroup ref="DefaultIndGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates that the receiving system should assume the default value if the user specifies no overriding value or action.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attributeGroup ref="PrivacyGroup">
          <xs:annotation>
            <xs:documentation xml:lang="en">Allows for control of the sharing of travel arranger data between parties.</xs:documentation>
          </xs:annotation>
        </xs:attributeGroup>
        <xs:attribute name="TravelArrangerType" type="StringLength1to32" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">Type of service making travel plans or transactions (e.g., travel agency, etc.).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RPH" type="RPH_Type" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">A unique reference for a travel arranger within this message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Remark" type="StringLength1to128" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">A remark associated with the travel arranger.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TravelClubType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies a travel club that offers special privileges and related services.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TravelClubName" type="CompanyNameType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the travel club.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubMemberName" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name information for the club member.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="PersonNameType">
              <xs:attributeGroup ref="ID_Group">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Identifier assigned to person registered with travel club.</xs:documentation>
                </xs:annotation>
              </xs:attributeGroup>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="PrivacyGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Allows for control of the sharing of travel club data.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">The effective and expiry dates for this travel club membership.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
</xs:schema>

