1ASIWOTANA9_PDT_20180111_002945/Air_MultiAvailability_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SATRQT_13_2_1A" xmlns="http://xml.amadeus.com/SATRQT_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Air_MultiAvailability">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability/Schedule/Timetable Request Message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" type="MessageActionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specification of the action code of the request</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="consumerReferenceInformation" minOccurs="0" type="ConsumerReferenceInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Used to encode corporation id.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="pointOfCommencement" minOccurs="0" type="PointOfCommencementTypeI" />
        <xs:element name="frequentTraveller" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Frequent traveller details.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="travellerDetails" type="TravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller details.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="travelleridentification" minOccurs="0" type="FrequentTravellerInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Frequent traveller identification.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="requestSection" minOccurs="0" maxOccurs="2">
          <xs:annotation>
            <xs:documentation xml:lang="en">Information related to availability request</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="availabilityProductInfo" type="AvailabilityProductionInfoType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of dates for an availability request.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="boardOffDetails" minOccurs="0" maxOccurs="12">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Multi-city request. Contains a board or an off point in the ODI segment.  In case of request by radius, the value and the unit is specified in the MEA segment. A request may contain up to 6 different origins and/or 6 different destinations.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="boardOffPoints" type="AvailabilityProductionInfoType_167714S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Contains a board or an off point.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cityRadius" minOccurs="0" type="MeasurementsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Alternate city request. Contains the radius around the board or off point in miles or kilometres.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="travelChoiceInfo" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Information related to a travel choice request</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travelChoiceDetails" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of process details for travel choice request</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="profileInformation" minOccurs="0" type="ReservationControlInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the travel choice profile used in the request</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="optionClass" minOccurs="0" type="ClassQueryType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="connectionOption" minOccurs="0" maxOccurs="3" type="ConnectionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of connections option. The request may contain up to 3 combinations of preferred or excluded connecting points.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="numberOfSeatsInfo" minOccurs="0" type="RelatedProductInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the number of seats requested</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="airlineOrFlightOption" minOccurs="0" maxOccurs="2" type="AirlineOptionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of some airline or flight option.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cabinOption" minOccurs="0" type="CabinDescriptionType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of cabins option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="negoSpaceDetails" minOccurs="0" type="NegociatedSpaceType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">specification of the tour name and reference or record locator</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="availabilityOptions" type="AvailabilityOptionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the options of an availability request</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="umRequest" minOccurs="0" type="UnaccompaniedMinorRequest">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Unaccompanied minor requested ages</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirlineOptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of some airline or flight option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIdentification" minOccurs="0" maxOccurs="6" type="FullFlightIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline / Flight option. The request may contain up to 6 preferred or excluded airline.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="excludeAirlineIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline exclusion</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityOptionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the options of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productTypeDetails" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the availability type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="optionInfo" minOccurs="0" maxOccurs="13" type="SelectionDetailsInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productAvailability" minOccurs="0" maxOccurs="5" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Availability option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfAircraft" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">UN/IATA code identifying type of aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductionInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of dates and locations of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="availabilityDetails" maxOccurs="31" type="ProductDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Multidate request. Defines date and time of an availability request. A request may contain up to 31 days. These 31 days may include single dates or date ranges.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvailabilityProductionInfoType_167714S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of dates and locations of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalLocationInfo" minOccurs="0" type="LocationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="expandCabinIndicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin Expansion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClassOfServiceList" maxOccurs="2" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDescriptionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of cabins option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinDesignation" minOccurs="0" type="CabinClassDesignationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product class, number and designator which defines a cabin in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderClassesByCabin" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines if the classes will be ordered by cabin in the response</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassQueryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of classes option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productClassDetails" maxOccurs="3" type="ProductDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expandClassRequest" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates if the request is expanded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectPointDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the first connection point and time</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="location" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ATA/IATA code directory - connection city/airport</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Connection time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicatorList" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional information on the connection option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of connections option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstConnection" type="ConnectPointDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the first connection point and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondConnection" minOccurs="0" maxOccurs="4" type="ConnectPointDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the other connection points and time. The request may contain up to 5 preferred or excluded connection points.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsumerReferenceIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of consumer references by type, company, number and reference to a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceQualifier" type="AMA_EDICodesetType_Length1to3" />
      <xs:element name="referenceNumber" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsumerReferenceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify consumer reference information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="customerReferences" maxOccurs="20" type="ConsumerReferenceIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Customer references</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the frequent traveller number by company code with the capability to reference a specific traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent flyer card number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="customerReference" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Customer Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priorityCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Priority code associated to the frequent flyer card.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent flyer details.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFrequentTravellerDetails" minOccurs="0" maxOccurs="8" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other Frequent flyer details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FullFlightIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Airline / Flight option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airlineCode" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code corresponding to an airline option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="suffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix not authorized in case of exclude airline option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Departure Location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityAirport" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character IATA code to specify place of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator used to force to use the Airport or the City code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify physical measurements, including dimension tolerances, weights and counts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valueRange" type="ValueRangeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Radius in miles or kilometers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the action code of the request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="functionDetails" type="MessageFunctionBusinessDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the action code</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main function Action Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subActionCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A sub function to further identify what action is requested (usable with Scroll requests)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegociatedSpaceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SPECIFY INFORMATION ON A NEGOTIATED SPACE AVAILABILITY</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourName" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tourReference" minOccurs="0" type="AlphaNumericString_Length1To40">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tour reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="recordLocator" minOccurs="0" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointOfCommencementTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the point of commencement</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="location" type="AlphaNumericString_Length1To25" />
      <xs:element name="date" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="time" minOccurs="0" type="Time24_hhmM" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Defines date and time of an availability request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure date for Availability/Schedule, Effective date for Timetable  (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date for Availability/Schedule Discontinue date for Timetable  (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival Time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of a class type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceClass" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nightModifierOption" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Night Modifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product Availability option</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="discountCode" type="AlphaNumericString_Length2To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">discount code for product availability</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfSeats" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of seats associated to this code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the availability type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfRequest" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the type of availability request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfPassengers" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of passengers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length6To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">PROFILE RECORD LOCATOR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of the travel choice profile used in the request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="profileRecordLocator" minOccurs="0" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile record locator and type for travel choice request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Selection details information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Highlighting preferences option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arguments" minOccurs="0" maxOccurs="5" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">argument For the option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType_237211C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfDisplay" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Travel Choice type of display</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tripCategory" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Trip category</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType_237212C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specification of availability options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generalInfo" type="SelectionDetailsInformationType_237211C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Travel Choice general information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerReferenceInfo" minOccurs="0" type="SelectionDetailsInformationType_237212C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger reference information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="highlightingInfo" minOccurs="0" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Highlighting of preferences information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="uniqueCustomerIdentifier" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="infantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1" />
      <xs:element name="title" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI" />
      <xs:element name="otherPaxDetails" minOccurs="0" maxOccurs="99" type="TravellerDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To15" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnaccompaniedMinorRequest">
    <xs:annotation>
      <xs:documentation xml:lang="en">Availability request for unaccompanied minors</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="umAge" maxOccurs="9" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unaccompanied minor's age</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValueRangeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Measurement value and relevant minimum and maximum tolerances in that order.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="unit" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unit of the radius.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="NumericInteger_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the radius.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To40">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..40</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length6To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_hhmM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H.Only significant digits are mandatory. Example: from 0 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1]?[0-9]|2[0-3])?[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593516BDB3010C7DFF529C45EF630E2382D6310D083DBA4DD6069BBD47B0B04C5BA244765C9D3C9A55EE977DFC976B6EE616C83107427F94EFAFDFF77BDBC59AE8B72B9D8DEDEA8B37C763E99E5FC93E5B10D647427F30FF3F767F3D9B9BC5E95EFF27C9EE7A25815B16B80AED082D335284E6C2F346155A674F64446EC34C10DEF51A32B50C7189BF974FA54DB4CD7DA404B59E5EBA9D8B5CE58586050538218D11D686AB022511DA17AB8E7FF5AAB185A109537C0474839EF5254D7E0381AF7EA46BB2EB553AEB596134D17F0708CEA4D31B49377C1370121EAD049ED8CBCF46E8F866BA0B6F293DBFB50EB88DECD65EB741B8F3EE07730B225E88F1BA4CA7A6A03488A01AB683BC9DFECD0708D4C32B85C4EE4A919653AA3145B2BD7E91E24D77CFBF008267B230CEC756BE37568122EA3F6DA1208E3DB9D857BF8D682ABE04EC7EA38EE80BBF82798E07E9D794E02BD6C9F1F2110BF8A57012C70195EE90377E85EC49EE55BB79699F9A4641FF772F61FA7D55F0A585F693B22B7FE6058C6C57CF371592C364B837B5DC5D27B4B9B65B95D2045EDE2252BC5FAB1729B950E0F90141FCE50AF356D3EFB03D77287FE22686E9DED440DE100238C7E7D85600DDDFB107FE2E38713DFABA0C4F4F7DC8255473B3AC7FD17A2C6A38B371007397AB305EFE32B427D9C0C9C89E1098928A549CAA7F96CCCD1950F8545AE3D3A3679012BA0053B897BB329078A54EB1053DDAF0E2B8CDDF89018B423DBFB93F928664DD3B17259ACA6CF062CF233341BE825E35D91AE675E8F0F9BE5F23433434DCEF4A8FA4946578927B2F1B68D4D1BAFBC3510544A083199AC068C6F49E2AF39994CC40049CD0AF1AABF2AEE8A6D81613B3B7FCF9EAE353A755F94029E1A966BAB69BB585EAB72FD75799247EA005A7D3885E9F4FA4B291A1E07A4230B3C601FB45167BC7AC424989A0D5C748F50A59E2B1E2B2C1E596DBD43CBFCC449A73F6C8FDAABD9B9F80143501DCC09050000
-->

