1ASIWOTANA9_PDT_20180111_002945/PNR_Ignore_04_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CLTREQ_04_1_IA" xmlns="http://xml.amadeus.com/CLTREQ_04_1_IA" elementFormDefault="qualified">
  <xs:element name="PNR_Ignore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clearInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="actionRequest">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123B6D07AC0174706B272BD0A45DE2DD0218AACD384265C913E5A246D1772F253B587ADA7631489AFE497EA457D926DB267996160F1B7E11CFAFA6F1F7E93C9EEC3A5D897E127F5B5C5E2E2EE693D53AFF1AC78B3866C93A717D0BB8940AB46880B32781B0210B5B51023F3AD72EA2E8B55133D1880A3A9C95A689D813292A48A5E511827352D71855B244561EA17CDED1B311DCD90E58692AA014E4DA68EF350D68F20E4261705BA17B5F8FEB4E290AB4BD95F5D10D6E0507D129B7B26D4E5D56836265BA27053BF8DD812EE151B8F238CA81BEF9A7EE41FFC979F3F3BF176F2F60511A4D960505244396A8A942FFCE0E4467DB29EAD17850C10FB4C2C7DEFA8B8032A550E388CAD415714B17FB1F5992EEB34A1E44E9726314EEB3BC48253AA1DD2D912160846ABF16F6193CE22107035CDCDF9B9AB4741D1A09601AB0358C2882BD94A02ADC19EB88DD298E485D25E8817E8EA5E08454E3A2F47F016A8DD46E036E584668C61AE3CEF804DFDFCB8C0D03789E48471A5F47F1F518C3A5B18992A48D8308827D9125602A4B47B585ED0786D808EBBCEE2F2D4BE9FA7110678546257C2AD1E1441AA351394FD6D15B054AD21882CEE77D466F996FAF1AAF7590A05BB9FD7CA31409AC02965754EEA1736DE796465560B90F30369DAE07865F7022F5C1D82634319DB28110BF4BD859719E3C26C5E3665BCC2FE89A1B2135DFDD6C19BCB6B4AA426091662BBE4CEE77D96937136141F0F9D5C9E7B7F7F936FBC95AFA15241E4FBFC6B8193E27EB45FA759119A8880090FBA277B53616D86935E7B171C73CBE621F09717ABE4C040000
-->

