1ASIWOTANA9_PDT_20180111_002945/Ticket_DisplayTSMFareElementReply_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TFRERR_13_1_1A" xmlns="http://xml.amadeus.com/TFRERR_13_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DisplayTSMFareElementReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorWarningGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="language" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText" maxOccurs="99">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fareElementGroup" maxOccurs="20">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fareElementTattoo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="reference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="10" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal" />
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="fareElementInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..9999</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="9999" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningGroup" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorOrWarningCodeDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorCode">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCategory" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCodeOwner" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorWarningDescription" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeTextDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="textSubjectQualifier">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="language" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="source">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="encoding">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1" />
                                      <xs:maxLength value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="freeText" maxOccurs="99">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="199" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15B9ED302476920D4503E8E0354E0E5BD2C271B1CB0043B51847A82C79A29CD528FADF47D9CED65EF67109489A79493EA4B6E93ECD923C5D17B77BBE88E7CB69FC71BAB89E7C056900A5E826F1D5EAC3D56A7135D9EEF2F771BC8A6396EC12DF35801BA5C1881A387B10087BB2B01125F093F7CD2A8A9E6A3D13B590D0E2ACB475C41E5A2335AC95E31182F7CA54184955222B4F503E1EE8B716DCBB16586925500A72634DF0EA1A0C7947A1B1771B61BA508F9B566B0A349D53D5C90FAE84A368B5DFBA26A72EE5A0286DFBA0E100DF5B3025DC095F9E4639309FFEA97B30BF739EC3FC2FC5F3191C2A6BC872A08164C8121555E85ED891E864ADA61E6D00D5FB3DADFECFC1FA8B80B6A5D0E388DA56327073505B0F51FD233A83544751FA42C2394A073BB7566394E6C55AA117C6DF10290248E8A29D708F10900F39D8C3C66F5F6C45DAA6EA1BEB41D5E02A18D1F4F646819678B0CE13CB4B1C91BA4C30007E1B5B83174A8F8B33FF05ACB1CAF83DF861397D33CE5AFF8A57EF87FB99B16180C017E96EE3EB28BE1E63B8B12ED18AB471104170675502AE55E9A9B670DDC0146BE17CD0BD37AA54BE1B07F14E18D422A4121D4EE47FE1CA935DF42C412B1A43D039BDCCE82B0BEDC9F17A0709BA9D9BB7374B919E558FE509B5BF6D7DD3FA8DD5121C0F01C6A6D3DDC0F01D4E94395A57F74D4CA76C20C4E7097B559C27774991AB92D65ACC974BBAF05A28C3F3CF3983A786D655082CD6E996E7D97D7A59CF4438107C4E8F780CF07C93A559C61A7A1E0A4F97E7326E87CFC93AABB032BE18C8881E221F0BD3A1355A74F961B721E55443189A5D16F6C7AC0C1ADDB1F120F87CC97E02BD21F24F8C040000
-->

