1ASIWOTANA9_PDT_20180111_002945/Ticket_RepricePNRWithLowestFare_12_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARIBQ_12_2_1A" xmlns="http://xml.amadeus.com/TARIBQ_12_2_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_RepricePNRWithLowestFare">
    <xs:annotation>
      <xs:documentation xml:lang="en">To return the new fare repriced  for existing PNR itinerary booking class</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticketInfo" maxOccurs="9">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains all info related to the ticket requested to be exchanged. This group is conditionnal because of Technical constraint.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paperticketDetailsFirstCoupon" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details on the exchanged ticket : information of the first conjonctif coupon.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="couponInfoFirst" minOccurs="0" type="CouponInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details on Exchanged coupons into the ticket : first coupons to exchange (related to the first conjonctif). The coupon number is mandatory in the case of paper ticket.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paperInformation" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">provide ranfe of coupon and ticket for paper processing</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paperticketDetailsLastCoupon" type="TicketNumberTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details on the exchanged ticket : provide the ticket related to the last coupon to exchange</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="papercouponInfoLast" type="CouponInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details on Exchanged coupons into the ticket : last coupons to exchange</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ticketRange">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The range of tickets is provided</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="paperticketDetailsfirst" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Details on the exchanged ticket : prime ticket</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="paperticketDetailsLast" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Details on the exchanged ticket : last ticket</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="overridePaxInformation" minOccurs="0" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Different override options at pax level</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="passengerSelection" type="ReferenceInformationTypeI_78616S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger associated to the ticket.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pasSegmentSelection" minOccurs="0" type="ReferenceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Passenger segment selection</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="originalPricingOptionsGroup" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Reissue pricing options</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="overrideInformation" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Different override options</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cityOverride" minOccurs="0" type="PointOfSaleInformationTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Point of sale and point of ticketing override.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="overrideCurrency" minOccurs="0" type="MonetaryInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to store the currency code of override</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="taxDetails" minOccurs="0" maxOccurs="60" type="DutyTaxFeeDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details about taxes specified in the request.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dateOverride" minOccurs="0" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Booking date override information.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="discountInformation" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Discount codes applying to pricing request. These discounts are per passenger or group of passengers, up to 99 passengers. The Zapp off discount is not referenced by passengers but by segments.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="penDisInformation" type="DiscountAndPenaltyInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Penalty/discount details specified in the request.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="referenceQualifier" minOccurs="0" type="ReferenceInformationTypeI_78623S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Passenger or segments qualifiers</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pricingOption" minOccurs="0" type="PricingTicketingDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to convey Waiver Code</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="flightInformation" minOccurs="0" maxOccurs="16">
          <xs:annotation>
            <xs:documentation xml:lang="en">Extra information regarding the flights. These information are per PNR segment whose number is limited to 16 for a pricing. They cover forced stopover.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itineraryOptions" type="TravelItineraryInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Override options for itinerary specified in the request (stopover).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itinerarySegReference" minOccurs="0" type="ReferenceInformationTypeI_78690S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Reference of segments (tattoo number) associated to the override option : point of turnaround, connexion... 'S' is the only reference qualifier relevant here.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="frequentFlyerInformationGroup" minOccurs="0" type="FrequentFlyerInformationGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Frequent flyer information</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To100">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="30" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherCouponDetails" minOccurs="0" maxOccurs="3" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAndPenaltyInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information about discounts and penalties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="infoQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualify the type of information.  -Penalties are not passenger associated and are pure monetary information. Discount are passenger associated but only discount code is specified. -The type can be for Zapp off discount which is segment associated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="penDisData" minOccurs="0" maxOccurs="16" type="DiscountPenaltyMonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify penalty information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyMonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of discount and penalty information, the monetary amount, and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="penaltyType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of discount/penalty</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="penaltyQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount Type can be a percentage or an amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="penaltyAmount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">specify the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="discountCode" minOccurs="0" type="AlphaNumericString_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the discount code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="penaltyCurrency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">penalty currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeAccountDetailType">
    <xs:sequence>
      <xs:element name="isoCountry" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Iso country of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailType">
    <xs:sequence>
      <xs:element name="taxRate" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax override value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxValueQualifier" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax value qualifier will be either amount or percentage.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify relevant duty/tax/fee information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax data qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxIdentification" type="DutyTaxFeeTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxType" minOccurs="0" type="DutyTaxFeeAccountDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxNature" minOccurs="0" type="AlphaNumericString_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Nature of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxData" minOccurs="0" type="DutyTaxFeeDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax fare data information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeTypeDetailsType">
    <xs:sequence>
      <xs:element name="taxIdentifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentFlyerInformationGroupType">
    <xs:sequence>
      <xs:element name="flequentFlyerdetails" type="FrequentTravellerIdentificationCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used for tier level override</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passengerReference" minOccurs="0" type="ReferenceInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightReference" minOccurs="0" type="ReferenceInfoType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Segment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Info</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the FQTV is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tierLevel" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify a Tier level</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code of the city</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cityQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifier of the city</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">704  miscellaneous has to be used</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">currency of override</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">to convey the currency override</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="2" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">to convey the currency override</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointOfSaleInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify point of sale information by party identification or location identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityDetail" minOccurs="0" maxOccurs="2" type="LocationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detail on city to override</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey Waiver code in a repricing request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="waiverCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">waiver code. List is :  DE  - Death  IL  - Illness  AG  - Act of Gods  CA  - Court Appearance  MI  - Military  TP  - Tour Package  TD  - Travel Documentation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional characteristics of a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightType" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Different types of flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherFlightTypes" minOccurs="0" maxOccurs="8" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other types of flights as combination might happen</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific Hotel reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="999" type="ReferencingDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger / segment selection</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI_78616S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification for a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" type="ReferencingDetailsTypeI_120859C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger / segment selection</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI_78623S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsTypeI_120871C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST/fare reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI_78690S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refDetails" minOccurs="0" maxOccurs="99" type="ReferencingDetailsTypeI_120939C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST/fare reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the passenger references.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="passengerReference" maxOccurs="99" type="ReferencingDetailsType_209683C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to convey the passenger tatoo or display number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">The tattoo of the segments or the passengers is the value expected</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI_120859C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">The tattoo of passengers is the value expected</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI_120871C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifyer of the reference (Pax/Seg)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refNumber" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI_120939C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="refQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifyer of the reference (Seg tattoo)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="refNumber" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Segment tattoo reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType_209683C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="value" type="AlphaNumericString_Length1To60" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ticket type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelItineraryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a segment of an itinerary and related details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="globalRoute" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Global routing data for the type of movement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClass" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Booking class override.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" minOccurs="0" type="ProductTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Extra information about the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To100">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..100</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDF4505896046C1735C08312CB69B1B5933A0A7A316030E2D8264A912A87CA460DF2DF3B94E4363DB5BD0833C3D17CBCF7E6AADC94DBA22A97FBEB8DC8D32C9F65D92CCFF867501650C99EA7EF16F9BF8B7FDEF1AB75F5264D1769CA8A7511FA1670A50D58D980A0C0FE42A2AEAB184E1E51B17B89B0A1376C650DE21442BB98CF1F1B93C8462AE830A95D3367F79D550696DA8B394208DA1E71AE748DAC3E41FDE596BE8D14C177C06AA78052505867A3D73460C99BDE9A56DA3EB613B63386026DEFF5F114C4AB626CC76FBC6BBD86207DCFA555FCD2D9835654434BC33FD883F38D0CDAD905EFACECC2C979FD0D14EF108674A5B1360E3B0F1C83D775303DA77FEEB5A21A0927E4523EE3E76698C804A36F0CDFC639906F697AFF002A79C5141C6467C2956F235C4A1CA44160CA75F7066EE16B07B6861B19EAD3F402F6E28FC004FB33E72912F4BC7F7A008FB415591E0C5019B2E4913AF4CFEC40F46D3B4398B9C8E4E00F740E3F47EB37058CABA5992037EEA888C6E562F7BE2C96BB52E983AC43E59CC15D59ED971A83B4E1929822FE88B9DD5AFA2F10191F7370E01A771FDD916AD9E3308856D7D6F4AC017F84098CC15E69300A6F9D0F3FE0A3C591E62A3062FA6B6C49AC6B3329C7FE1544ADD3366C208C740C62F3CE8517080D7E1470C2C61522A2184F299DA7D914C395F385D1547B526CD482AE0197A424EA4DA21C51C446FA10EBDE595DEBD04F8B042F2D9A419F848F20AC713E55AE8AF5FC4981D1B48624013D27F4CAE278EAE5F990582ECF3733D6A4C800D570C9DAD6EC114DB8EE42DB8595330ABC8801C666B3F508E36BE4FAE79DCC666C044964057BD15F1437C5BED23571BBCFF2B724EB466A2BAAFF4A068F2D31B697B85F9657A2DADE956786B8F420459EA7E780A88AED878B4FACA59BD078229647EC4782444ED6838EAC896C04470E388AA9F116E8D6E98836DBCF3A9C3EBAFF01C38A7AB0336DBF4D9C4421B29C7D0727B8777023050000
-->

