1ASIWOTANA9_PDT_20180111_002945/Ticket_DisplayTSMP_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSMRQ_13_1_1A" xmlns="http://xml.amadeus.com/TTSMRQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_DisplayTSMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tattooOfTSM">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uniqueReference">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC761812DBE98AA10174F06A273B2C699AB8D82580A15A4C2254963C512E6A147DF7D1B283B5A76D1783A4E99FE4477A956FF25D5AE45979B7E1F338B99AC6F3697235F909D2004AD14D922F8BEBEBC5F5D7C96A5D7C8EE3451CB3749DFAAE015C2A0D46D4C0D9A340D890858DA8809FBD6F1651F452EB99A88584166795AD23F6D81AA921538E4708DE2B73C248AA0A597586EA694FCF5A70EF5A6095954029C88D35BD57D760C83B0A8DC16D84E9FA7ADCB45A53A0E99C3A9DFDE04A388A56FB956B0AEA520E8AD2B68F1AF6F0AB0553C156F8EA3CCA81F9F64FDD83F993F3DACFFF56BE3E8343650D590E34900C59E24415BA3776243ABB56538FB60715FC402B7CDC5B7F11D0B6127A1C51DB93246ED9E2F03D4FB3432ED55154BEB056E3212FCA4CA117C6DF12190246A80E6BE19EA0473CE460808B871FF6445AE6141A09606A70271851047BA9404BDC5BE789DD258E485DA5D803FD18CBC00BA5C74599FF02D45865FC06FCB08CD08CB3D6BFE313FCFE5E666C18A0E78974A7F14D14DF8C315C5A976A45DA388820B867550166AAF2545BB86E6088B570BED77D30AA52BE1B07F14E18D4A24F253A9C4863342A17E93A7A95A0158D21E87CDE66F496F5EDC9F15A0709BA95DB8F374A91C02A607941EDEF5ADFB47E69B504C7FB0063D3E97A60F80927CA1CADAB4313D3291B08F12465EF8AF3749B9685AA68AD657295D045D74219BEBDDF317869685DA5C032CB57BCD83DE497F54C8403C1E7F3E412E045B15FEFEE5943BF83C2F3E5F718B7C313B29E55BF323203191120F2B1301D5AA345471A5B7659131F836981F5F6BE05D7B171ED3C99B3DF37DD0E6262040000
-->

