1ASIWOTANA9_PRD_20180111_003132/Air_RebookAirSegment_14_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/ARBKUQ_14_1_1A" xmlns="http://xml.amadeus.com/ARBKUQ_14_1_1A" elementFormDefault="qualified">
  <xs:element name="Air_RebookAirSegment">
    <xs:annotation>
      <xs:documentation xml:lang="en">An API client requests a rebook on a flight segment in a PNR.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bestPricerRecommendation" minOccurs="0" type="SelectionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment contains the reference of the Best Pricer recommendation selected by the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="originDestinationDetails" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This is for connected/not connected air segments. It will contain the information we need to process the request.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originDestination" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInfo" maxOccurs="20">
                <xs:annotation>
                  <xs:documentation xml:lang="en">It represents all segments for a given city pair. It will contain the segment information and its associated action requested.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightDetails" type="TravelProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify details related to a flight. This segment contains everything we need to identify a flight within the PNR.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="relatedFlightInfo" type="RelatedProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To indicate number in party and action required in relation to a flight. Cancel and sell action code will be given in this segment.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is the board/off point coded on 3 characters.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarriageControlDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify details concerning the marriage status of travel product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relation" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marriageIdentifier" minOccurs="0" type="NumericInteger_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineNumber" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherRelation" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="carrierCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place of origin: 3 characters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place of destination: 3 characters</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="arrivalDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClass" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class suffix.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional characteristics of a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIndicator" maxOccurs="9" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number in party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" minOccurs="0" maxOccurs="10" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status code. It should be OX (cancel) or NN (sell).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3" />
      <xs:element name="optionInformation" type="NumericInteger_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Date details:  - departure date and time  - Arrival date and time  - Date variation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPointDetails" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location details for the Board point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="companyDetails" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightIdentification" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight details:  - flignt number  - class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightTypeDetails" minOccurs="0" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specialSegment" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not required. If found it must be 'P'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99" type="MarriageControlDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C96EDB3010BDF32B885E7A282CCB41DC16067850E2A5416B27B51DF462C0A0C5B14D8422550E15580DF2EF1D4A72930205DA5E8459A859DE7B339B2C26CB6C3D196F6F17E2221D0C7BE9656F30E4DF405940256B9E7E1C0D3F8CD294CFE6EB77694A16CBE659A84BC0A9366065018202DB2B893A5FC7707242C576126141392C650EE2184239EAF74F85496421155498E4AEE8B35D659581B1F6A28F1082B607EC2B9D23CB8F903FACE85B48117C052C770AE8090AEB6CF48A022C795DAE28A5AD633B612B632850D65E1F8E41BCC9DA76FCCEBBD26B08D2D75C5AC5AF9DDD6B4535B434FCC6EE9D2F64D0CE8E786565158ECEEB1FA07885D03C571A73E3B0F2C031789D075373FA67A715D548382197F21E3F37C34426187D63F832CE817C49D3FB4750C91BA6602F2B1366BE8C7029B19706812957ED0CACE07B0536873B19F26397017BF54F60827D79F314097ADE3E3D8247DA8A2C0F06A80C59F2401DEA67B627FA969521CC5C64B2F11B3A9B9FA3F59702C6E5D274901B775044E378B4F934C9C69B89D27B9987B573063793F576AC31481BAE8929E28F98DBCCA57F80C878FB061BAE71F3C51DA8963D348368756B4DCD0AF007E8C068ECA906A370E57CF8051F2D8E34578611D3DF6363625D9B4E39F6BF202A9DB66101A1A5A3119B772EBC42A8F1A38013D6AE1011C5784A693F1D74319C3A9F194DB53BC5462DE81C704C4AA2DE24CA16452CA40FB1EEBDD5B90E75B748F0D2A269F449F808C21AFB5DE57536EF3F29309AD69024A0E784B22C8EA75E9F0F89E5FA7C336D4D8A34503597AC6DCE4E68C26D15CA2A4C9D51E0450C30D6EBCD5B18DF22D72F77D2EBB1162431C8D8ABFE22BBCBB699F6DBC1F082345D486D4576B364702A89AEADC4ED783213EBE5FDE44C0F971EA418BC4FCF01912DAF3EDF7F65251D84C62351DC02DFB22306643DEA4899B86891910D8822765DC2CEB907B2567088DBB233517FCE76DC8BC125FB09CCDACC550A050000
-->

