1ASIWOTANA9_PRD_20180111_003132/DocIssuance_IssueMiscellaneousDocumentsReply_09_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TMDSIR_09_2_1A" xmlns="http://xml.amadeus.com/TMDSIR_09_2_1A" elementFormDefault="qualified">
  <xs:element name="DocIssuance_IssueMiscellaneousDocumentsReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processingStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="statusCode">
                <xs:simpleType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Format limitations: a..6</xs:documentation>
                  </xs:annotation>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                    <xs:maxLength value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorOrWarningCodeDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner" minOccurs="0">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorWarningDescription" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeTextDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="textSubjectQualifier">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="source">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="encoding">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="199" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A8ADC7618123B597B68001DBCDAC98ACD6D91B8B700812A33895059F244B9A851F4DD47C90ED69ED65D0C92927F921FA975715B6CB2AAC8F777B77C91CEBF4DD3C574713929ADA9453F995F2CD3F9F2329DACCBEA6B9A2ED3946565E6FB1670A53418D100678F02E1962C6C85047EF2BE5D26C94BA367A21135743893B649D863676A0DB9723C41F05E992326B592C8E409E4D396BE8DE0DE75C0A4AD81AE2037D604AF69C09077101AA3DB0AD3877CDC745A53A0ED9D3A9EFCE0D670109DF66BD75654653D28D6B67BD4B085DF1D1809F7C2CBD32807E6FBA7AA07F3F7CE6BE8FF6DFFFA0C0E95356439D0403264892365E8DFD881E86C3A4D35DA002AFA9156FC3958FF10D0560A3DB6A8EDB1266EF972F7A3C8F25D51AB8390BEB256E3AEA8F6B9422F8CBF2632048C50ED4AE19E20201EEE60848BBB5FF6485AE6180B89601A70471851447BA540D7B8B5CE13BB731C91AACA3000FD18CBC10BA5C74199FF02D45A65FC2DF86118B11867AD7FC727FA615F666C6820F0445AD2F42A49AFC618AEACCBB4226D1C4410DCB39280B9929E720BD70F0CB111CE07DD07A3A4F2FDD88877C2A016E12AD1E1441A9351B9CACAE4B506ADA80D41EBF336A35316CAABC76D1D246857AE3FEE284522AB88E505B5BFEB7CDBF995D535381E028C4DA7E5C0F00B4E943958D7C422A6533610E2F38CBD4BCEB3FB6C9F5B7983D809DAE1FDD585A4B56E8432BCFA5931786969667B81FBBC58F36AF3509C6734110E049FD3CB1D03BC2AF3EDCD86B5F426149ECE6F641C115F90F5ACC2DCF87CC0232249FE3E7B30A05428416B61C07648A75D64C0CE03FCEC0F1B6875CFC65DE134D93F602E130C94040000
-->

