1ASIWOTANA9_PRD_20180111_003132/DocRefund_SearchRefundRule_05_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CRULSQ_05_1_1A" xmlns="http://xml.amadeus.com/CRULSQ_05_1_1A" elementFormDefault="qualified">
  <xs:element name="DocRefund_SearchRefundRule">
    <xs:annotation>
      <xs:documentation xml:lang="en">Search rule request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="targetOfficeDetails" minOccurs="0" type="AdditionalBusinessSourceInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">office the document to refund belongs to. Only filled if different from the one the agent is logged in.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="criteriaValues" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">criteria values</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional originator and source information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Will be used to convey the Office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="2" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="NumericInteger_Length1To9" />
      <xs:element name="inHouseIdentification1" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Will be used to convey the Office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification2" minOccurs="0" type="AlphaNumericString_Length1To9" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15C22E3B0C499C0ECDB0003AB8F92806346997A4D82540A04A4C2254963C512EEA15FDEFA36C67CD2EFBB8182225BFA49E97BA9E2D67AB7C339BEE6E97E2221B0E7BD9456F38E2DF403B402D6B3EBC1C7FFC34BEFCCCAF179B0F5936CE32962FF25897807363C1C90204257657128DDAA474FF19357B90084BDAC3522A10C718CBF160F05CD8BE2CA4860AFBCA1703A68EA01ED7F42DA488A102A6BC068488C27997A2A2004751B75794D2D54955B8CA5A4A947530876314EFF25695DF055F060351869A4BA7F9C4BBBDD1A461A4E55FDCDE874246E3DD98574E56F1E883F9019A5708CD716D50598F55008E3118156DCDE99F07A349A3CF0950C67BFC540CFBB28F29B696AF521FC857D47D7802DD7FC734EC6565E3752813152DF6D22230EDAB070B6BF85E81537027A33AB6B70377F54FC8C0BD9D794936BCEE5E9E20205D8A56012C900CADE4810AD4AF6C4F26AD2A4BC87CF2AB891BD39A9FD3EA2F02D62B693BE2D61FB409623ADECEB4D94B1537DE5BDCCE36BBA9C1285D9C9047E41C79B65DC8F008D1B8437B061B97717BE30F24E30E4D0F46DF3A5BB302C2013A40CD7A6EC06A5CFB107F81A33B23B59463A2F97B6E4A7E1BDBCD8CFB2F3AA5372E2E219E1911BC8F677058DB784288E98564836CD8E570EE436E0D2976139ABC370A704A93431569085B6C58C81093DABD33CAC4BA6B3F06E9D036F3485404C1C541A7BCC91783170DD650F39206E6B54FBB2C35A5CF9F0B4DC7E4F4465A4DCA34809A076A9C62CF68E36D15CB2ACEBDD510444A30D6EB2D5A78EF919BB777D1EBB1168D18E6ECACBEC8EFF2DDD4AB15EC2BA777C36C44935C48E3C46A36BF5F4E4F567019408AD1E8148BC9EAFE66FD959534F5068FE466CBB835420C69F564923BE2A2C5211B72E2ADD41A6450C7364826B093337F3AD3592EB24BF6132BABEB07E2040000
-->

