1ASIWOTANA9_PRD_20180111_003132/DocRefund_SearchRefundRuleReply_05_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CRULSR_05_1_1A" xmlns="http://xml.amadeus.com/CRULSR_05_1_1A" elementFormDefault="qualified">
  <xs:element name="DocRefund_SearchRefundRuleReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="returnCodeGroup" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">this group is used to tell if delete was done or if an error occured</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorCode" type="ApplicationErrorInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">return code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="interactiveFreeText" minOccurs="0" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">text corresponding to return code. only present if error</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ruleDescription" minOccurs="0" maxOccurs="250">
          <xs:annotation>
            <xs:documentation xml:lang="en">Return rules. Mandatory if no error detected.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ruleId" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">ruleId</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ruleContent" type="BinaryDataType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">to store content retrieved. Mandatory if option retrieve/search with content, N/A in other case.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCodeOwner" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BinaryDataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">to carry binary data within an Edifact segment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataLength" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Length of 203K</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataType" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of the data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="binaryData" type="AlphaNumericString_Length1To99999">
        <xs:annotation>
          <xs:documentation xml:lang="en">used to store binary data</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:sequence>
      <xs:element name="textQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates whether the free text is coded or not coded.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coded text or specifies type of information in 4440.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code for language of free text.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the text of the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageQualifier" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text qualification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">The value of the reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Action code representing an the udapte done on the entity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="idSection" minOccurs="0" maxOccurs="9" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element name="systemQualifier" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">System responsible of the associated version number: - "1ARES" for CS RES system - "DCSLON" for current NGDCS in London -... New values may be added when needed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID sequence number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="primeId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID (DID, IID, SID number or any uniquer identifier)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondaryId" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID Status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationYear" minOccurs="0" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the year ex:2003</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationMonth" minOccurs="0" type="Month_MM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the month ex:7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationDay" minOccurs="0" type="Day_NN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Value of the day in the  month ex:30</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationHour" minOccurs="0" type="Hour_HH">
        <xs:annotation>
          <xs:documentation xml:lang="en">The time of the creation ex:13</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationMinutes" minOccurs="0" type="Minute_MM">
        <xs:annotation>
          <xs:documentation xml:lang="en">the minutes of the creation time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">ID Description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_MM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. All digits are mandatory. Example:07</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_NN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month.  All digits are mandatory. Example: 07</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_HH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. All digits are mandatory. Example: 07</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1][0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_MM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. All digits are mandatory. Example: 07</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.3.3 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C471D68F010174709BA418D0A68593DE0204AAC5244265C913A5A25ED1FF3ECA76D6EEB28F8B4152F223F5DEE3F57C392F8BF57CB6BD5B8A2FF96432CA2F4693AF7CE1B5922D9FE4D3FC7C7A76C6AF6FD79F734A7256DC16A16D0017DA809535082A6C2F25EA6A9DCAD90B2AF628119674868DAC401C4268A6E3F14B6D32594B0511B3CAD563561DA07A5AD1B79622F808AC720A10020AEB6CCAEA1A2C65C359DD48DB265461A33154685AAFF787204E8A1E95DF7BD7780D41FA964BABF895B33BAD08434BC3BFD99DF3B50CDAD9298F56C670705EFF00C52342775D69AC8CC3E88163F0BA0AA6E5F4CFA3568491716227E7237E6C8699CC30E5C6F032CD81BCA4E9FD33A8EC8429D8C968C2B56F122B4AECA44160CAC547032BF81EC156702F4375184EC05EFE136760DFEFBC261DDEB6AFCFE0915E45910703044391DC5387F68DED48A5321A105DD4E9D5FD96A2BFFC6A5C25CD40B6717BA5BDB89A6E66AE8A9D2C1D652B0841DB3D6EB08E482CCBA7CD0CF029B866D30B7B19B551E0F959769A9D6E6EDC9EA0ECBE9B43AB3B6B5A5683DFC3C042172F3418852BE7C32FDEE8C548631598C8FCBD3623B9B5192C63FF8B9BC6691B96107A1D3A9779E7C2078218768F480462DA8E7C9C4F861A2E9C2F8C26C4C1A0497A5D01CEC838D4913CD85387B5F421A13D585DE9D00EE3072F2D9ACE8EC48A2082713C20AF8BDBF1AB02A36978497E79CBE894A5A1D4C76D216F5C1D57A4C7A44A4750B79FDA56EC054DB88BA18961E1920C2215181B8D6E7BF23E21D7EF6B311AB19E1A3129D887FEA2B82FB6A47B09BB68D576925F90916BA9AD28E78B87E58CC14B436A6D256E67F36BB1286E56F3A33C5C7A90E2E2E2988BABF2E16655B2861641E38114EE79EFC511138A9E75528CC28E22D9B129DEDBAF40FAEAD02749187654EB0F774A68C8698317447ECE7E0233E425F7F7040000
-->

