1ASIWOTANA9_PRD_20180111_003132/PNR_Retrieve_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRRET_15_1_1A" xmlns="http://xml.amadeus.com/PNRRET_15_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Retrieve">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR Retrieval Message
PNR Retrieval Message
This message allows to retrieve a PNR by specifying some criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settings" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Informations on the PNR options requested and the printer identification</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="options" type="OptionalPNRActionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">optional information on what needs to be returned in the PNR , hardcopy print or PNR  mode.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="printer" minOccurs="0" type="PrinterIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Identification of the printer when hardcopy is requested</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="retrievalFacts">
          <xs:annotation>
            <xs:documentation xml:lang="en">Set of informations needed for the retreival of the PNR</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="retrieve" type="RetrievePNRType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">retrieval type , options , and references related to the PNR content .</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reservationOrProfileIdentifier" minOccurs="0" type="ReservationControlInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for retreive by record locator or retreive by customer profile.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="personalFacts" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">informations related to the travellers</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="travellerInformation" type="TravellerInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Informations needed for retreive by office and name or retreive by service and name .</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="productInformation" minOccurs="0" type="TravelProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Informations on the travel product</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ticket" minOccurs="0" type="TicketNumberType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Ticket number that can be used  optionally when retreive by record locator is done .</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="frequentFlyer" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for a retreive by frequent flyer .</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="accounting" minOccurs="0" type="AccountingInformationElementType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Informations needed for a retreive by account number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccountingElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ACCOUNTING ELEMENT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To30">
        <xs:annotation>
          <xs:documentation xml:lang="en">account number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountingInformationElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Accounting information element</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="account" type="AccountingElementType">
        <xs:annotation>
          <xs:documentation xml:lang="en">accounting element needed when retreive by account number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">COMPANY IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline/ provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Frequent traveller information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTraveller" type="FrequentTravellerIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">frequent traveler identification needed when retreive by frequent traveller</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">FREQUENT TRAVELLER IDENTIFICATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="membershipNumber" type="AlphaNumericString_Length1To27">
        <xs:annotation>
          <xs:documentation xml:lang="en">frequent traveller reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">LOCATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point or off point</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalPNRActionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="optionCode" maxOccurs="40" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">51 - return all RTSVC 52 - return line numbers 53 - return RLRs 55 - do not return individual names of a group 101 - hard copy print 201 - return RTSVC for car 231 - return RTSVC for hotel 261 - return RTSVC for air 300 - TY mode</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrinterIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Printer identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="AlphaNumericString_Length5To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">name of the printer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="network" minOccurs="0" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">network id of the printer</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrinterIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Printer identification</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifierDetail" minOccurs="0" type="PrinterIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">printer identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="office" minOccurs="0" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">amadeus office id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="teletypeAddress" minOccurs="0" type="AlphaNumericString_Length7To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA teletype address</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">PRODUCT DATE OR TIME</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="depDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure/ pick-up/ check-in date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="depTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Only for retrieve by flight/departure time, needed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Return/ drop-off/ check-out date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">PRODUCT IDENTIFICATION DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identification" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subtype" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number alpha suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">for the PNR record locator: 1A for the reservation number: provider code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">this is the place to store the identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlType" minOccurs="0" type="AMA_EDICodesetType_Length1">
        <xs:annotation>
          <xs:documentation xml:lang="en">if "N" is filled, it indicates that the number is a reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" minOccurs="0" maxOccurs="2" type="ReservationControlInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">this segment is used to store the reservation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrievePNRType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Retrieve PNR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">1 - redisplay  2 - retrieve by record locator  3 - retrieve by office and name  4 - retrieve by service and name  5 - retrieve by frequent traveller  6 - retrieve by account number  7 - retrieve by customer profile  8 - retrieve by Insurance policy number  9 - retrieve by numeric record locator 10 - Retrieve Previous PNR</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="service" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">information needed for redisplay if RTSVC (AIR, HTL, CAR). Needed for retrieve by service and name . Optional for retrieve by office and name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tattoo" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Element tattoo. Optional for redisplay when RTSVC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="office" minOccurs="0" type="AlphaNumericString_Length9To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">PNR owner office id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="targetSystem" minOccurs="0" type="AlphaNumericString_Length2To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Target system for retrieve PNR via claim. Only for retrieve by record locator and retrieve by service and name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="option1" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">X - RTAXR V - RV Optional for redisplay and retrieval types 2, 3 and 4. N/A otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="option2" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">A - active PNRs only Optional for retrieve by office and name. N/A otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">TICKET NUMBER</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airline" type="NumericInteger_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ticketNumber" type="NumericInteger_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">airline ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Travel product information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="product" minOccurs="0" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defaults to current date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Needed for retrieval by flight, optional otherwise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetail" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">needed only if board point is provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="company" minOccurs="0" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="productDetails" minOccurs="0" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">needed only for retrieve by flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">TRAVELLER DETAILS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstName" type="AlphaString_Length1To56">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveler first name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Traveller information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="traveller" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">traveler surname information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="passenger" minOccurs="0" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">N/A for retrieve by record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">TRAVELLER SURNAME INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaString_Length1To57">
        <xs:annotation>
          <xs:documentation xml:lang="en">traveler last name or group name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length9To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="9" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length7To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="7" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length5To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an5..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To57">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..57</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="57" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To56">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..56</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="56" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To27">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..27</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="27" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is one alphanumeric character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C4B1B7150502E8E0356E3760490337C52E010CC5621261B2E4897251AFE87F1F653B5B77DA7631488AE6C77B8FB7C5BA28F36DB1ACEED6E25D9A5DCEB274965EF1AFA02CA0923DCFB245962EDE5FF1DBD5F66D9A2ED294E5AB3CF42DE08D366065038202D54789BADEC670F2848AED25C29ADEB09535885308ED623E7F6A4C221BA9A0C3A476CD9CED3BAB0C2CB517738410B43DE25CE91A597D82FADB3D7D1B2982EF80D54E01A5A0B0CE46AF69C09237BD35ADB47D6C276C670C05DADEEBE329888B7C6CC737DEB55E4390BEE7D22A7EEDEC412BAAA1A5E19FEDC1F94606EDEC82775676E1E4BCFE018A770843BAD2581B879D078EC1EB3A989ED33F7BADA846C209B994CFF8B9192632C1E81BC3CB3807F292A6F78FA0920BA6E0203B136E7D1BE152E2200D0253AEDB1BB887EF1DD81A3632D4A7E905ECC77F0213ECEF9CE748D04BF5FC081E692BB23C18A03264C92375E85FD881E82B3B4398B9C8E4E00F740E3F47EB2F058CABA5992037EEA88846B5D87D2AF2E5AE50FA20EBB075CEE0AED8564B8D41DA704D4C117FC4DC6E25FD37888C8F3938708DBB2FEE48B5EC711844AB3B6B7AD6803FC204C660DF68300AEF9D0FBFE0A3C591E6CA3162FA676C49AC6B3329C7FE1744ADD336AC218C740C62F3CE8557080D7E1470C2C61522A2184F299DA7D914C31BE773A3A9F6A4D8A8055D032E4949D49B4439A2888DF421D67DB0BAD6A19F16095E5A34833E091F4158E37CAABCCD57F3670546D31A9204F492D02B8BE3A9D7E74362B93EDFCC5893220354C3256B5BB32734E1AE0B6D176E9C51E0450C30369BAD4618DF20D7BFEF643663234822CBD9ABFE22DFE4D5665D56D9E52569BA91DA8ACD3A63F0D4125D95C46A59DC8A6DF9509CE9E1D28314D987B34FE965596C594BF7A0F1440C8FB88FE4888CAC471D19237300460E18C6DFAA12E838E111D8991FB1B17E0A4A332DC226C645F69EFD04C1E1903300050000
-->

