1ASIWOTANA9_PRD_20180111_003132/QueueMode_ProcessQueue_09_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/QUEREQ_09_1_IA" xmlns="http://xml.amadeus.com/QUEREQ_09_1_IA" elementFormDefault="qualified">
  <xs:element name="QueueMode_ProcessQueue">
    <xs:annotation>
      <xs:documentation xml:lang="en">Queue Request Message
Message to request queue mode functions
QUE - Queue mode function REQ - Request message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageActionDetails" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the action to be carried out on the queue in the current message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="recordLocator" minOccurs="0" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the record locator of the PNR</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="interactiveFreeText" minOccurs="0" type="InteractiveFreeTextTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">interactive free text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="queueInfoDetails" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the queue details like queue type, targeted office, queue number, category number or so on.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selectionInfoDetails" type="SelectionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the queue type ( PNR or Message Queue )</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="queueGroup" minOccurs="0" maxOccurs="10">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Groups segments required for Queue decsription</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="queueInfo" type="QueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the information of the queue</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="subQueueInfo" minOccurs="0" maxOccurs="2" type="SubQueueInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the subqueue details like category number and category name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="targetOffice" minOccurs="0" type="TicketAgentInfoTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specifies the targeted office for Queue operation</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dateTimeInfo" minOccurs="0" type="DateAndTimeInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specifies the date and time related information</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DateAndTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="date" minOccurs="0" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date -DDMMMYY</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" minOccurs="0" type="Time24_hhmM">
        <xs:annotation>
          <xs:documentation xml:lang="en">specifies the time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" type="DateAndTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the date and time details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">text subject qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text qualification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InternalIDDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an internal identification and the type of identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inhouseId" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the required Queue operation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type and function of a message or part of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the intended operation in the current message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationDetailsTypeI">
    <xs:sequence>
      <xs:element name="number" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfItems" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of items on the queue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queueName" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the name of the Queue</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specifies the Queue details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="queueDetails" minOccurs="0" type="QueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the queue details like queue number, queue name and nunber of items in it.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Message / PNR Indentifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the record locator of the PNR to be place on the Queue.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Selection details information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains all the valid options available to carry out designated action.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details for making a selection</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains selection details available to carry out designated action,</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the name of the sub queue, count, maximum items allowed and status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identificationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">E for every category    A for cats with items to be worked C for category number N for nickname CN for both category number and nickname numeric for date range</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">category number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemDescription" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">used for nickname on inbound used for category name on outbound</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubQueueInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a reservation sub queue</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subQueueInfoDetails" type="SubQueueInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">identifies the category or categories.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketAgentInfoTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey travel agent and system identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="internalIdDetails" minOccurs="0" type="InternalIDDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the targeted office id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_hhmM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H.Only significant digits are mandatory. Example: from 0 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1]?[0-9]|2[0-3])?[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 4.2 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593514FDB3010C7DFFD292C5EF630354D9860A8921F026D11D25AA014EDA55265E26B6AE1D899CF416488EFBE73928EEE69DB4B743E3B7F9F7FFFBBEBD972B6CAD7B3E9F676294ED32C1BA5A7A3EC9C7F076501956C797636F97231394BF9F562FD394D2769CAF2451EDA1A70AE0D585981A0C4F652A22ED6319DBCA2624F1261497B58CB02C43E847A321EBF5626919554D06052B86ACC8A3D14CF0FF4ADA408BE015638050801857536AEAA0A2CAD86BDAA96B68DAAC236C650A26EBD2EF7419CE4BD2ABFF3AEF61A82F42D9756F12B67775A91869686DFD89DF3950CDAD9096FAC6CC2DE79FD13146F10BAE34A63611C361E3806AF8B605A4EFF3C69451A092740291FF1C36598C804E3DA18BE8A75205F51F5FE055472C214EC6463C2B5AF23152576D22030E59A27030FF0A3015BC09D0CC5BE7F1DD8CB7F4206F6E3CC5BB4E17DFBF6021EE951147930403214C9922E68DFD98E4C5A358690B9E857B7EE4CEB7E8ED15F048C2BA419881B572AEDC574B29929BD9345583B6770335B6FA71A83B4E18A3C22E7C8B3CD42FA6708DA96FD19EC5CC6CD3757928C2DBB1AB4BAB5A66515F81206405D3CD760143E381F7E83A33723959463A4F9676E4A7E6B33F48CFD2F3AB5D3362C211C19E19D0B4770585F7844887142D2719A0D399C3B9F1B4D8A438746EF750138A5CEA11BA9097B6C58491FA2DAA3D5850EED507EF0D2A2E9FA91A808828BE341799D2FC66F0A8CA6E22535CC7B42BB2C16A58EC785BAE3EA3023BD26653A40DD806A5BB05734E1B6097513E6CE28F02226181B8D163DBC4FC8F5C75C8C46AC47236E727674BFC8EFF2ED7D030D2C6842B7597A4E9D5C496DC5FDE3ECE003971EA4C8BE1ED6716F35BB6735B5BCC63D59D903EE5D1019452F3A5A4361C74276D8C4C73D34CE8413BB043B58D2EFAFE20861185EC10693457AC17E01A6ADD79AD4040000
-->

