1ASIWOTANA9_PRD_20180111_003132/Ticket_ProcessETicket_04_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TKTREQ_04_1_IA" xmlns="http://xml.amadeus.com/TKTREQ_04_1_IA" elementFormDefault="qualified">
  <xs:element name="Ticket_ProcessETicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="msgActionDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="messageFunctionDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="messageFunction">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="additionalMessageFunction" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="referenceInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="companyId" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="controlType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tripInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flightDate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="departureDate">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="6" />
                          <xs:maxLength value="6" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="boardPointDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="trueLocationId">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="offpointDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="trueLocationId">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="companyDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="marketingCompany" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="2" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightIdentification" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="creditCardInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="formOfPayment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="10" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="vendorCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="creditCardNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="35" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ffInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frequentTravellerDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="carrier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an2</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="2" />
                          <xs:maxLength value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="number">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="25" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="textInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="freeTextQualification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="textSubjectQualifier">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="informationType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1" />
                          <xs:maxLength value="4" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="freeText">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
                    </xs:annotation>
                    <xs:minLength value="1" />
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ticketInfoGroup" maxOccurs="9">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ticket">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="documentDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an3..13</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="3" />
                                <xs:maxLength value="13" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="couponInfo" minOccurs="0" maxOccurs="4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:sequence>
                      <xs:element name="couponDetails">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="cpnNumber">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                                  </xs:annotation>
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="1" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paxInfoGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="passenger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paxDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="surname">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="70" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherPaxDetails" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="givenName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1" />
                                <xs:maxLength value="70" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- SchemaRules="2009/09"-->
<!--Created with SchemaBuilder 4.1 by Amadeus S.A.S.-->
<!--Build Key:
1F8B08000000000000008590CD6EC2301084EF7E0AEE55895B09B544CA211284136905543D22632F60C93FA9D7A91A21DEBDEB2454DC2AF930DE5DCF7CDED5B25E6ECADD72B17FAB8B67FEC41FF98CCEE413940354A29BF0793E7BC9F9EB64B5DE3D709E73CE9CB0808D90505C62D7C0757FF98680DA3B52010C084C35710227BB2B93DE5A70118BA33008CC78774A06450C2D30E5DB83812D7CB5340CEF22CAF3D0386A039BD640E17C45B2BFF7CFFAC8A4FE89254424BD8028B441B27140B5708291E3C79A1D390D8D725D265BAC6E290CE519AC4804487BE1F38CCF591A51DBBE319A345EBB5843BC031F734BECDD8731E91520C491E240A0F5DF0ACF3136799611CE5458A1A0C5296D2C63C1FB78F75986568498E487D352C76EB41E38B1F2A1349A8CF146413FAD3418855B1F22A871FC17E780F032F0010000
-->

