1ASIWOTANA9_PRD_20180111_003132/Ticket_UpdateTST_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TTSTUQ_15_1_1A" xmlns="http://xml.amadeus.com/TTSTUQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="Ticket_UpdateTST">
    <xs:annotation>
      <xs:documentation xml:lang="en">Update TST

</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pricingInformation" minOccurs="0" type="PricingTicketingSubsequentTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">in order to update the sales indicator.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="actionInformation" type="ActionIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">TST update action information such as FUP (full update) or PUP (partial update).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareReference" type="ItemReferencesAndVersionsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">TST reference number. Ordering information is not relevant here.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareDataInformation" minOccurs="0" type="MonetaryInformationTypeI_150994S">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specify all fare data information (base fare, equivalent fare...)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="reasonCode" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">reason for agent override</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reasonCodes" type="AttributeType_21097S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Updated field and corresponding reason for update and travel agent comment</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="reasonCodeComment" maxOccurs="2" type="FreeTextInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">reason for override: OTHER SODA  RULE 85  INTERNET DING  ADVERTISED FARE NOT LOADED  US TAX ADJUSTMENT  CUSTOMER CONVENIENCE  EXTRA SEAT  LOYALTY HONOR PROTECT FARE  TWO HOUR RULE NAME MISMATCH NAME CHANGE DECEASED</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="taxInformation" minOccurs="0" maxOccurs="120">
          <xs:annotation>
            <xs:documentation xml:lang="en">Tax fare data detailed information</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="taxDetails" type="DutyTaxFeeDetailsTypeU">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Tax details</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="amountDetails" type="MonetaryInformationTypeI_52993S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Amount details. If the tax is a passenger facility charge (PFC) the detail of the airports related taxes is given here.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bankerRates" minOccurs="0" type="ConversionRateTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Banker's rates are used to convert amounts of the TST.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="originDestination" minOccurs="0" type="OriginAndDestinationDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Origin and destination of the fare. 1st C3225 occurence : origin city. 2nd C3225 occurence : destination city</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="segmentInformation" minOccurs="0" maxOccurs="96">
          <xs:annotation>
            <xs:documentation xml:lang="en">Segments detail information related to the fare. This information is specific per segment.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="connexInformation" type="ConnectionTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Connection information.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareQualifier" minOccurs="0" type="FareQualifierDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Fare basis information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="validityInformation" minOccurs="0" maxOccurs="2" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Validity information for the fare</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="bagAllowanceInformation" minOccurs="0" type="ExcessBaggageTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">baggage allowance information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="sequenceInformation" type="ItemReferencesAndVersionsType_52998S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">It is the sequence number of the segment.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="otherPricingInfo" minOccurs="0" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Other fare information such as Fare Calculation,...</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="statusInformation" minOccurs="0" type="StatusTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">TST status information such as Paper or E-Ticket.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="carrierFeesGroup" minOccurs="0" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">group to convey carrier fees data</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="carrierFeeType" type="SelectionDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Airline Ticketing Fees : OB</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="carrierFeeInfo" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">group containing one particular fee information</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="carrierFeeSubcode" type="SpecificDataInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">contains the Carrier Fee subcode and the properties of the carrier fee:</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="commercialName" type="InteractiveFreeTextTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">convey the commercial name of the fee</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeAmount" type="MonetaryInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">amount of the fee, taxes included</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeTax" minOccurs="0" maxOccurs="99" type="TaxTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">tax on the fee</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mileage" minOccurs="0" type="AdditionalProductDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">convey the mileage information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="removePCFlag" minOccurs="0" type="ActionIdentificationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Allows to remove the PC flag in the TST that prevents issuance, and that is raised after a change in the links TST-Segments.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fareComponentDetailsGroup" minOccurs="0" maxOccurs="32">
          <xs:annotation>
            <xs:documentation xml:lang="en">fare Component Details Group</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fareComponentID" type="ItemNumberType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">fare Component identification</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="monetaryInformation" minOccurs="0" type="MonetaryInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Monetary Information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareComponentServiceAttributes" minOccurs="0" type="AttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Service attributes details</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ActionIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide details of action required or taken, the flights to which this action refers, and reasons for action taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionRequestCode" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActionIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide details of action required or taken, the flights to which this action refers, and reasons for action taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionRequestCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides type of required action, coded.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalFareQualifierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the fare basis and ticket designator codes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="primaryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Primary code of the fare basis. This is not a codeset but a free flow text field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareBasisCode" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare basis code of the fare basis. This is not a codeset but a free flow text field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ticketDesignator" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket designator of the fare basis</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="discTktDesignator" minOccurs="0" type="AlphaNumericString_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">For any query : discount ticket designator to be assigned by Fare Quote server. For any response : priced PTCs</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information concerning an airline flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mileageTimeDetails" type="MileageTimeDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">codeset: Seasonality</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">The only value is: SEA Seasonality</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeInformationTypeU_37514C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of attribute and the attribute</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fieldUpdated" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Field updated by airline agent</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" maxOccurs="999" type="AttributeInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType_21097S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criteriaDetails" type="AttributeInformationTypeU_37514C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details for the message criteria (name, value).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number and weight of baggage.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="baggageQuantity" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance quantity (piece concept)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="baggageWeight" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance weight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="baggageType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance type (weight/number)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measureUnit" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measurement unit for weighing baggage allowance</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" minOccurs="0" type="AlphaNumericString_Length1To547">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify pricing options by key/value.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" maxOccurs="5" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute fare calculation or payment restriction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the location, product supplier and time for a connection with the next means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="routingInformation" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specify ARNK and surface segments  not included in the fare routing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connexType" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of connection for the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify connection designator.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="connecDetails" type="ConnectionDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Connection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">The rate of the conversion.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI_86144C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency of the rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">The rate of the conversion.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of conversion rates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstRateDetail" minOccurs="0" type="ConversionRateDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">First rate detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondRateDetail" minOccurs="0" type="ConversionRateDetailsTypeI_86144C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second rate detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify specific data and a quantity related to the data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">fee attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">fee subcode</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the discounts and penalties by fare type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zapOffType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount off type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zapOffAmount" minOccurs="0" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zapOffPercentage" minOccurs="0" type="NumericInteger_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount percentage.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeAccountDetailTypeU">
    <xs:sequence>
      <xs:element name="isoCountry" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Iso country of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To transmit tax data as it should appear in the tax boxes of the ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxQualifier" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax data qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxIdentification" type="DutyTaxFeeTypeDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxType" minOccurs="0" type="DutyTaxFeeAccountDetailTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxNature" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Nature of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxExempt" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Exempt tax indicator. If an tax is Exempted no amount is provided for this tax.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeTypeDetailsTypeU">
    <xs:sequence>
      <xs:element name="taxIdentifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExcessBaggageTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information concerning baggage allowance details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bagAllowanceDetails" type="BaggageDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance information details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the fare basis information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="movementType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of movement for this segment to take into account by Fare Quote to calculate the fare.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareBasisDetails" minOccurs="0" type="AdditionalFareQualifierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare basis detail</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zapOffDetails" minOccurs="0" type="DiscountPenaltyInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount data for zap off to apply to price calculation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="source" type="AlphaNumericString_Length1To3" />
      <xs:element name="encoding" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType" />
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To320">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI" />
      <xs:element name="freeText" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">commercial name of the fee suncode. 10 an</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" maxOccurs="99" type="ItemNumberIdentificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" minOccurs="0" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number (It is in fact the Tst Display Number)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iDDescription" minOccurs="0" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Gives the TST ID number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType_52998S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sequenceSection" type="UniqueIdDescriptionType_86161C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification details : order number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MileageTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the distance/duration of a trip.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="totalMileage" type="NumericInteger_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">mileage total associated to the TST</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">In case of exempted Fee, this data element does not contain an amount but a text: EXEMPTED.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">currency of the fee amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI_216834C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualify the type of fare defined in this composite</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareAmount" minOccurs="0" type="AlphaNumericString_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare data amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareCurrency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare data currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareLocation" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location of the fare data (PFCs specific)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">MON used for a single fee</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI_150994S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amount information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataMainInformation" type="MonetaryInformationDetailsTypeI_216834C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main fare data infomation, can b thee base or  the total fare information which are mandatory  anyway</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareDataSupInformation" minOccurs="0" maxOccurs="30" type="MonetaryInformationDetailsTypeI_216834C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Supplementary fare data information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI_52993S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amount information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataMainInformation" type="MonetaryInformationDetailsTypeI_216834C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main fare data infomation, can b thee base or  the total fare information which are mandatory  anyway</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fareDataSupInformation" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI_216834C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Supplementary fare data information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monetary information per fare component</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other monetary information per fare component</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cityCode" maxOccurs="2" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code of the city.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingSubsequentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify pricing indicator information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="salesIndicator" minOccurs="0" type="AlphaString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">International sales indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the Carrier Fee type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier fee code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dataInformation" minOccurs="0" maxOccurs="99" type="DataInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier fee application code  (NI, NR, CM, NC)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tstFlag" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on TST.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstStatusDetails" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Detail on the status of the TST.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherStatusDetails" minOccurs="0" maxOccurs="20" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other details on the status of the TST.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number. The format is a little long for short term usage but it can be reduced by implementation if required.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a rate, type of tax, and currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rate" type="AlphaNumericString_Length1To17" />
      <xs:element name="currencyCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="type" maxOccurs="99" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details applicable to the tax applied to the Carrier Fee.  TX = Tax applies to fee</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details relating to tax(es).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type of tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feeTaxDetails" maxOccurs="99" type="TaxDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element name="iDSequenceNumber" type="NumericInteger_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">The TST Id Number : The Id number allows to determine a TST in the single manner.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType_86161C">
    <xs:sequence>
      <xs:element name="sequenceNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number specifying the ordering information of the item described within a group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To320">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..320</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="320" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To547">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..547</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="547" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C471D2B51802E8E03669376069BBD4BD050814894984CA9227CA45BDA2FF7D94EDACDD69DBC520299A1FEF3D5E2F6E16ABA25CCC37B737629A4FCE46F9F928FFCC97DE69D9F2C9E9EC6C3ACB27FC7A597ECCF3599EB36259C4B606BC32169CAC4050607321D1A83285B367D46C2B116EE80D6BA9401C62AC67E3F173653359490D0D66CA5763B66D9CB63037418C1162346E8F636D14327500F5784FDF4A8A181A60CA6BA01414CEBBE4551538F286B7AA96AE4DED846BACA540DD06B33F447152F4EDF85DF07530106568B9749A5F7AB7339A6A1869F957B7F3A192D17837E38D934D3CF8607E82E60D4297AE0D2AEBB109C03106A3A26D39FDB3359A6A649C60CBF9881F9B6126334CBEB57C95E640BEA2E9C313E8EC8469D8C9C6C6EB5027B8B4D8498BC0B46FB616EEE147034EC19D8CEA30BC80BBF82730C1BDE5BC24825E372F4F1090B6222B80052A4396DC5387F695ED88BE556309339F98ECFC8ECEEEE764FDA580F54ADA0172EBF79A689CCFD65F16C57CBDD06627552CBDB7B85E949BB9C1285DBC24A6883F626EBD94E11112E37D0E765CE3FA9BDF532DB7EF0631FAD6D9965510F63080D1D95706ACC67B1FE26FF86871A4B90A4C98FE199B13EBC60ECA71FF0551ED8D8B37107B3A3AB105EFE33B843A3F093863FD0A09514C77948FF3C910C32B1F0A6BA8F6A0D8A405A300E7A424EA4DA2EC51C44A8698EA3E38A34C6C874562900E6DA74FC24710D6381E2A97C572FCA2C11A5A4392805E337A65693CFDFE7C482C97C79BE96B52A483AABB64E3147B461B6F9B5837F1CA5B0D41A40063A3D1B287F10372F37627A311EB41129382BDEB2F8ABB62531A45DC6E2667A724EB4A1A27CAFB92C1734D8C6D246EE68B6B51AE1E164786B80C20C5F4FCE88B92F21FBEB39A4EC2E08148EEA1EFF91113B29E4C224D4C7B6C6407A318FA3ED45A46482D8F34892184910D748BC927F60B58AAC1FCFA040000
-->

